<div class="container">
    <br>
    <p *ngIf="alert">
      <ngb-alert [type]="alert.type" (close)="alert = null">{{ alert.message }}</ngb-alert>
    </p>
    <h1>Cadastrar Clientes</h1>
    <form [formGroup]="formCliente">
      <div class="form-row">
        <div class="form-group col-9">
          <label>Nome:</label>
          <input formControlName="nome" type="text" class="form-control" onkeypress="return /[a-zA-Z ]/i.test(event.key)" required>
        </div>
        <div class="form-group col-auto">
          <label>Data de Nascimento:</label>
          <input formControlName="dataNascimento" type="date" class="form-control" pattern="99/99/9999" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-auto">
          <label>CPF:</label>
          <input formControlName="cpf" type="text" placeholder="000.000.000-00" class="form-control" appMaskCpf maxlength="14" required>
        </div>
        <div class="form-group col-auto">
          <label>RG:</label>
          <input formControlName="rg" type="text" placeholder="00.000.000-0" mask="00.000.000-A" class="form-control" required>
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-primary" type="button" id="insertCliente" [disabled]="disableSubmit()" (click)="insertCliente(formCliente.value)" style="margin-top: 31px;">Cadastrar</button>
        </div>
      </div>
    </form>
</div>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Id</th>
        <th scope="col">Data Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">RG</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes">
      <tr>
        <td scope="row">{{ nomeFormatado(cliente.nome) }}</td>
        <td scope="row"><b>{{ cliente.id }}</b></td>
        <td scope="row">{{ dataFormatada(cliente.dataNascimento) }}</td>
        <td scope="row">{{ aplicarMascaraCpf(cliente.cpf) }}</td>
        <td scope="row">{{ aplicarMascaraRg(cliente.rg) }}</td>
        <td scope="row">
          <button class="btn btn-outline-warning" type="button" id="updateCliente" (click)="updateCliente(cliente)" style="margin-right: 10px;">Editar</button>
          <button class="btn btn-outline-danger" type="button" id="deleteCliente" (click)="deleteCliente(cliente.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>